body {
	background-color: black;
	border: 6px solid green;
	padding: 6px;
}

.retro {
	border: 6px solid green;
	padding: 6px;
	margin-bottom: 24px;
}

.retro h1 {
	font-family: monospace;
	color: green;
	line-height: 1.4;
}

.retro p {
	font-family: monospace;
	color: green;
	line-height: 1.4;
}

.retro div {
	border: 6px solid green;
	padding: 3px;
	margin-bottom: 18px;
}

.retro a {
	font-family: monospace;
	color: green;
	line-height: 1.4;
	margin-bottom: 18px;
}

.retro table {
	border: 3px solid green;
	padding: 6px;
	margin-bottom: 18px;
}

.retro caption {
	font-family: monospace;
	color: green;
	border: 3px solid green;
	padding: 6px;
}

.retro th {
	font-family: monospace;
	color: green;
	border: 3px solid green;
	padding: 6px;
}

.retro td {
	font-family: monospace;
	color: green;
	border: 3px solid green;
	padding: 6px;
}

.search_bar {
	font-family: monospace;
	background-color: black;
	color: green;
	border: 3px solid green;
	padding: 6px;
}

.retro button {
        font-family: monospace;
        background-color: black;
        color: green;
        border: 3px solid green;
        padding: 6px;
}

.search_bar::placeholder {
	font-family: monospace;
	color: green;
	opacity: 1;
}

.icon {
	width: 50px;
}
