body {
	background-color: black;
	border: 6em solid green;
	padding: 6em;
}

.section {
	border: 6em solid green;
	padding: 6em;
	margin-bottom: 18em;
}

.section h1 {
	font-family: monospace;
	color: green;
	line-height: 1.4em;
}

.section p {
	font-family: monospace;
	color: green;
	line-height: 1.4em;
}



